#burger {
    display: block;
    position: absolute;
    top: $size__px-middle-grande;
    left: 50;
    z-index: 100;
    transform: rotate(0deg);
    transition: transform .6s;
    @media screen and (min-width : $size__px-ecran-mobile) {
        display: none;
    }
}

.menu__sidebar {
    background-color: rgba(100, 104, 164, 0.5); //utilisé pour avoir l'opacité
    position: absolute;
    padding-top: $size__px-grande;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 99;
    transform: translateX(-100vw);
    transition: transform .5s;
    @media screen and (min-width : $size__px-ecran-mobile){
        position: static;
        width: 100%;
        transform: translateX(0vw);
        background-color: $color__h;
        padding-top: $size__px-moyenne;
        border-radius: $size__px-petit;
    }
   
}
#chk-burger {
    display: none;
}
#chk-burger:checked ~ .menu__sidebar {
    transform: translateX(0vw);
}
#chk-burger:checked ~ #burger {
    transform: rotate(90deg);
}

.menu__sidebar__ul {
    list-style: none;
    margin: 0;
    padding: .4rem 0;
}       

.menu__sidebar__ul .menu-item { // li
    margin: 1.5rem 0;
}
.menu__sidebar__ul .menu-item a { // les liens: a
    padding: 0.5rem;
    line-height: 1.5rem;
    color: $color__police;
    text-decoration: none;
}
.menu__sidebar__ul .menu-item a:hover {
    background-color: lighten($color__background-zonegrid, 60%);
    border-top-right-radius: $size__px-radius;
} 

